body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightsteelblue;
    padding: 10px;
}

.header-left h1 {
    font-family: stabillo;
    color: rgb(38, 45, 51);
    margin: 0;
}

.header-right .logo {
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}

.logo img {
    width: 50px;
    height: auto; 
}

.invoice-info {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.info-left, .info-right {
    width: 48%;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info-item label {
    width: 100px;
}

.info-item input {
    width: calc(100% - 110px);
    padding: 5px;
    margin-left: 10px;
    background-color: lightsteelblue;
    border: none;
    border-radius: 5px;
}

.calendar-icon {
    margin-left: 10px;
}

.total-payment {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
}

.total-payment p {
    margin: 0;
}

.total-payment .amount {
    color: lightslategray;
    font-size: 1.5em;
}

.product-info {
    margin: 20px 0;
}

.product-item {
    display: flex;
    align-items: center;
}

.product-item label {
    margin-right: 10px;
}

.product-item select, .product-item input {
    margin-right: 10px;
    padding: 5px;
    background-color: lightsteelblue;
    border: none;
    border-radius: 5px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.product-table th, .product-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product-table .delete {
    color: red;
    cursor: pointer;
}

.summary {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.summary-left, .summary-right {
    width: 48%;
}

.summary-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.summary-item label {
    width: 100px;
}

.summary-item input {
    width: calc(100% - 110px);
    padding: 5px;
    margin-left: 10px;
    background-color: lightsteelblue;
    border: none;
    border-radius: 5px;
}

.button-container {
    text-align: right;
}

.complete-button {
    padding: 10px 20px;
    background-color: lightslategray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button{
    padding: 8px 15px;
    background-color: lightslategray;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}